{% extends "base.html.twig" %}

{% block title %}
    test
{% endblock %}

{% block body %}
    <h2>{{category.name}}</h2>
    {% for program in programs %}
        <div>
            <p>{{program.id}} - {{program.title}}</p>
            <p>{{ program.summary }}</p>
            {# Lien vers la fiche de la série : #}
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
    {% endfor %}
{% endblock %}